* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: #383434;
    /* background: #f8f4f4; */
    /* align-content: center; */
    /* text-align: center; */
    /* align-items: center; */   
}


header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background: #008ec0;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

header .logo {
    width: 80px;
}

.navbar {
    display: flex;
    /* padding-right: 350px; */
    justify-content: center;
    align-items: center;
}


.navbar a {
    padding: 20px;
    color: #f0f8ff;
    line-height: 40px;
    float: left;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    background-color: #063970;
    transition: all 0.4s ease 0s;
    box-shadow: 0 1px 10px 0 #063970 inset, 0 1px 10px 0 #063970,
        0 1px 10px 0 #063970 inset, 0 1px 10px 0 #063970;
    text-shadow: 0 0 3px #063970, 0 0 2px #063970;
}

/* .navbar a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--cir);
    width: 0%;
    overflow: hidden;
    transition: 1s;
    border-right: 1px solid var(--cir);
    -webkit-text-stroke: 2px var(--cir);
} */

/* .navbar a:hover::before {
    width: 3%;
    filter: drop-shadow(0 0 25px var(--cir))
} */

.cart {
    font-size: 2vw;
    padding-right: 3%;
    color: #f0f8ff;
}

.cart:hover {
    color: #063970;
    filter: drop-shadow(0px 4px 10px #063970);
}
body{
    background: url(../photos/feedback_background.jpg);
    min-height: 110vh;
    background-size: cover;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    /* width: 100%; */
    text-align: center;
    
       
}

.container h1 {
    font-family: "Aleo", serif;
    font-weight: 900;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #063970;
    /* align-items: center;
    align-content: center; */
    /* text-align: center; */
}

.form_group {
    /* text-align: center; */
    display: flex;
    /* align-items: center;
    align-content: center; */
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    background: #e0e4dc;
    border-radius: 5px;
}

label {
    display: block;
    padding: 8px;
}

.form_group .select {
    font-weight: 100;
}


textarea {
    border-radius: 5px;
    background: #e0e4dc;
}

.forRating {
    /* text-align: center; */
    padding-top: 10px;
    align-content: center;
    align-items: center;
    align-self: center;
    /* justify-content: center; */
    /* justify-self: center; */

}

.rating {
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    justify-items: center;
    /* text-align: center;
    align-items: center;
    align-content: center; */
}

/* .forRating .rating .rateTo {
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
} */
.button {
    color: #fff;
    background: #008ec0;
    padding: 8px 40px;
    border-radius: 8px;
    border: none;
}